<h1>New cell</h1>

<% form_for(@cell) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :contents %><br />
    <%= f.text_field :contents %>
  </p>
  <p>
    <%= f.label :row %><br />
    <%= f.text_field :row %>
  </p>
  <p>
    <%= f.label :column %><br />
    <%= f.text_field :column %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', cells_path %>